.button {
  display: block;
  width: 100%;
  padding: 15px 26px;

  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: $black-light;
  font-family: $opensans;
  text-transform: uppercase;
  text-decoration: none;

  border: solid 2px $black-light;
  background-color: $white;
}
