$opensans: "Open Sans", "Arial", sans-serif;
$black: #000000;
$black-light: #444444;

$white: #ffffff;
$grey: #f1f1f2;
$light-grey: #ececec;

$main-blue: #63d1bb;
$main-blue-lighten: #59d5bc;
$main-blue-light: #46c1ae;

$btn-blue-light: #56c3b2;
$btn-blue-dark: #149080;

$font-size-h2: 25px;
$font-size: 17px;
$font-size-large: 19px;
$font-size-small: 15px;
$font-size-smallest: 15px;
